body {
     background-color: rgb(160, 185, 255);
   }
   img{
    width: 300px;
    height: auto; 
  }
   
   .menu a {
     color: rgb(255, 255, 255);
     font-size: 35px;
     background: rgb(0, 72, 255);
     text-decoration: none;
     padding: 5px 15px;
     margin: 15px;
     border-radius: 10px;
     text-align: center;
     font-family: "Arial";
   }
   nav {
     text-align: center;
   }

   table {
     table-layout: fixed;
     width: 100%;
     border-collapse: collapse;
     border: 3px solid black;
   }
   
   thead th:nth-child(1) {
     width: 30%;
   }
   
   thead th:nth-child(2) {
     width: 20%;
   }
   
   thead th:nth-child(3) {
     width: 15%;
   }
   
   thead th:nth-child(4) {
     width: 35%;
   }
   
   th, td {
     padding: 20px;
   }
   .footer {
     grid-area: footer;
     display: grid;
     font-size: 19px;
     text-align: center;
   }
   .fondofooter {
     font-family: "Arial";
     width: auto;
     height: auto;
     background-color: rgb(160, 185, 255);
   }
   .titulo-consultas{
    color: rgb(0, 72, 255);
    font-size: 25px;
    text-align: center;
    font-family: "Arial";
    font-weight: bold;
  }

  .contenedor-consulta-lista-partido {
    font-size: 19px;
    text-align: center;
    font-family: "Arial";
    font-weight: bold;
  }

  .contenedor-consulta-partido {
    font-size: 19px;
    text-align: center;
    font-family: "Arial";
    font-weight: bold;
  }

  form input[type="text"] {
    width: 30%;
    color: black;
    padding: 10px 10px;
    border: 1px solid #f6f6f6;
    border-radius: 3px;
    background-color: #f6f6f6;
    margin: 1px 0;
    display: inline-block;
    font-size: 19px;
  }
  select{
    width: 30%;
    color: black;
    padding: 10px 10px;
    border: 1px solid #f6f6f6;
    border-radius: 3px;
    background-color: #f6f6f6;
    margin: 1px 0;
    display: inline-block;
    font-size: 19px;
}

  form input[type="submit"]{
    width: 200px;
    font-family: "Arial";
    font-size: 19px;
    padding: 10px 10px;
    margin-top: 22px;
    margin-left: 900px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    color: black;
    background-color: white;
    display: block;
    
  }
  
  .formulario-partido{
      font-size: 25px;
      font-family: "Arial";
      color: white;
  }
  .contenedor-lista-individuos {
    font-size: 19px;
    text-align: center;
    font-family: "Arial";
    font-weight: bold;
  }
  .contenedor-consulta-individuo {
    font-size: 19px;
    text-align: center;
    font-family: "Arial";
    font-weight: bold;
  }
  .contenedor-consultar-proceso {
    font-size: 19px;
    text-align: center;
    font-family: "Arial";
    font-weight: bold;
  }

