/*CSS de la pagina principal de inicio de sesión*/
* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

.contenedor {
  font-family: Arial;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template: 155px auto 140px / 0.5fr 0.5fr;
  grid-template-areas:
    "header header"
    "menu contenido "
    "footer footer";
}

.header {
  background-color: rgb(160, 185, 255);
  grid-area: header;
  display: grid;
  font-size: 70px;
  text-align: center;
}
.fondo {
  width: 1fr;
  height: auto;
}
.titulo {
  width: center;
  height: center;
}
img {
  width: 300px;
  height: auto;
  width: center;
  float: center;
}

.contenido {
  background-color: rgb(160, 185, 255);
  grid-area: contenido;
  display: grid;
  font-size: 19px;
  text-align: center;
}

.menu {
  background-color: rgb(160, 185, 255);
  grid-area: menu;
  display: grid;
  font-size: 19px;
  text-align: center;
}

.menu label{
  color: white;
}

.contenido label{
  color: white;
}

form {
  width: 600px;
  padding: 50px;
  border-radius: 10px;
  margin: auto;
  background-color: rgb(0, 72, 255);
}

form label {
  width: 200px;
  height: 10px;
  font-weight: bold;
  display: inline-block;
}

form input[type="text"],
form input[type="password"] {
  width: 190px;
  padding: 10px 10px;
  border: 1px solid #f6f6f6;
  border-radius: 3px;
  background-color: #f6f6f6;
  margin: 8px 0;
  display: inline-block;
}

form input[type="submit"] {
  width: 100%;
  padding: 10px 10px;
  margin-top: 32px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  display: block;
  color: rgb(0, 72, 255);
  background-color: rgb(160, 185, 255);
}

form input[type="submit"]:hover {
  cursor: pointer;
}

.footer {
  grid-area: footer;
  display: grid;
  font-size: 19px;
  text-align: center;
}
.fondofooter {
  width: auto;
  height: auto;
  background-color: rgb(160, 185, 255);
}
