{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Centinela</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static 'app/CSS/AfiliarIndiv.css' %}" />
  </head>
  <body>
    <div class="contenedor">
      <div class="header">
        <div class="fondo">
          <img src="{% static 'app/img/titulo.jpg' %}" alt="icono" />
        </div>
      </div>
      <div class="op">
        <div class="opt">
            <nav>
              <a href="{% url 'app:index' %}">Inicio</a>
              <a href="#{% url 'app:index' %}">Quienes somos</a>
              <a href="#{% url 'app:index' %}">Servicios</a>
              </nav>
        </div>
      </div>
      <div class="op2">
        <div class="opt2">
            <nav>
              <a href="{% url 'app:configuracion' %}">Configuracion</a>
              <a href="{% url 'app:registro' %}">Cerrar sesion</a>
              </nav>
        </div>
    </div>

      <div class="menu">
        <form action="#" target="1" method="get" name="DatosAssdicionales">
            <label for="correo">AFILIAR INDIVIDUO A PARTIDO: </label>
            <br />
            <label for="cnombre">Id de idividuo: </label>

                    <select id="items-i">
                      <option >1234</option>
                      <option >6789</option>
                      <option >1010</option>
                      <option >9988</option>
                      <option >2030</option>
                    </select>
            <br />
            <label for="cnombre">Id de partido: </label>

            <select id="items-i">
              <option >1234</option>
              <option >6789</option>
              <option >1010</option>
              <option >9988</option>
              <option >2030</option>
            </select>
            <br />
            <label for="correo">Fecha ingreso: </label>
            <input
              type="date"
              class="dirección"
              name="dirección"
              id="dirección"
              placeholder="Fecha de ingreso: "
              required
            />
            <br />
            <label for="password">Fecha de salida: </label>
            <input
              type="date"
              class="dirección"
              name="dirección"
              id="dirección"
              placeholder="Fecha de ingreso: "
              required
            />
            <br>
            <input type="submit" name="guardar" value="Guardar" />
          </form>
      </div>

      <div class="contenido">
       
      </div>

      <div class="footer">
         
      </div>

      <div class="cuadro">    
          
        </div>
    </div>
  </body>
</html>
