{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Centinela</title>
    <link rel="stylesheet" href="{% static 'app/CSS/administrador.css' %}" />
</head>
<body>
    <header>
        <div class="imagen-titulo">
          <a href="{% url 'app:home-administrador' %}">
            <img
              style="display: block; margin: auto"
              src="{% static 'app/img/titulo.jpg' %}"
              alt="centinela-titulo"
            />
          </a>
          <br />
        </div>
  
        <div class="menu">
          <nav>
            <a href="{% url 'app:index' %}">Inicio</a>
            <a href="#{% url 'app:index' %}">Quienes somos</a>
            <a href="#{% url 'app:index' %}">Servicios</a>
            <a href="{% url 'app:configuracion' %}">Configuracion</a>
            <a href="{% url 'app:registro' %}">Cerrar sesion</a>
          </nav>
          <br />
        </div>
      </header>

      <main>



        <section class="contenedor-aprobar-individuo">
            <div class="aprobar-individuo">
                <h2>Aprobar individuo</h2>
            </div>
            <br>
            <div class="lista-individuo">
                <form name="formulario-individuo" method="post" action="#">
                    
                    <p>
                        ID del individuo:
                    </p>

                    <select id="items-i">
                      <option >1234</option>
                      <option >6789</option>
                      <option >1010</option>
                      <option >9988</option>
                      <option >2030</option>
                    </select>

                    <input type="submit" name="enviar" value="Aprobar" />

                  </form>
            </div>
            <br>

        </section>

        
          <br>
          <div class="footer">
            <div class="fondofooter">
              <b>Plataforma que encuentra a los mañositos</b>
              <br />
              <br />
              <label>En Centinela estamos comprometidos con la justicia</label>
              <br />
              <label>social del pais y el correcto funconamiento de su</label>
              <br />
              <label>sistema democratico</label>
            </div>
          </div>

 
      </main>
</body>
</html>