{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Centinela</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static 'app/CSS/configuracion.css' %}" />
  </head>
  <body>
    <div class="contenedor">
      <div class="header">
        <div class="fondo">
          <img src="{% static 'app/img/titulo.jpg' %}" alt="icono" />
        </div>
      </div>
      <div class="op">
        <div class="opt">
            <nav>
              <a href="{% url 'app:index' %}">Inicio</a>
              <a href="#{% url 'app:index' %}">Quienes somos</a>
              <a href="#{% url 'app:index' %}">Servicios</a>
              </nav>
        </div>
      </div>
      <div class="op2">
        <div class="opt2">
            <nav>
              <a href="{% url 'app:configuracion' %}">Configuracion</a>
              <a href="{% url 'app:registro' %}">Cerrar sesion</a>
              </nav>
        </div>
    </div>

      <div class="menu">
        <form action="#" target="" method="get" name="CambioDeDatos">
            <label for="correo">MODIFICAR DATOS</label>
            <br />
            <label for="cnombre">Nombre completo: </label>
            <input
              type="text"
              name="nombre"
              id="nombre"
              placeholder="Nombre"
              required
            />
            <br />
            <label for="cnombre">Nuevo nombre: </label>
            <input
              type="text"
              name="nombre"
              id="nombre"
              placeholder="Nuevo nombre"
              required
            />
            <br />
            <label for="ccorreo">Correo electronico: </label>
            <input
              type="text"
              name="ccorreo"
              id="ccorreo"
              placeholder="Correo electronico"
              required
            />
            <label for="ccorreo">Nuevo correo electronico: </label>
            <input
              type="text"
              name="ccorreo"
              id="ccorreo"
              placeholder="Nuevo correo electronico"
              required
            />
            <br />
            <label for="cpassword">Contraseña anterior: </label>
            <input
              type="password"
              name="cpassword"
              id="cpassword"
              placeholder="Contraseña anterior"
              required
            />
            <br />
            <label for="ccpassword">Nueva contraseña: </label>
            <input
              type="password"
              name="ccpassword"
              id="ccpassword"
              placeholder="Nueva contraseña"
              required
            />
            <br />
            <label for="ccpassword">Confirma nueva contraseña: </label>
            <input
              type="password"
              name="ccpassword"
              id="ccpassword"
              placeholder="Confirma nueva contraseña"
              required
            />
        </form>
      </div>
      <div class="contenido">
        <form action="#" target="1" method="get" name="DatosAdicionales">
            <label for="correo">DATOS ADICIONALES</label>
            <br />
            <label for="correo">Dirección </label>
            <input
              type="text"
              class="dirección"
              name="dirección"
              id="dirección"
              placeholder="Dirección"
              required
            />
            <br />
            <label for="password">Telefono movil: </label>
            <input
              type="password"
              name="telefono"
              id="telefono"
              placeholder="Telefono movil"
              required
            />
            <br />
            <label for="password">Telefono fijo: </label>
            <input
              type="password"
              name="telefonofijo"
              id="telefonofijo"
              placeholder="Telefono fijo"
              required
            />
          </form>
      </div>
      <div class="footer">
        <div class="fondofooter">
        <form action="#" target="1" method="get" name="DatosAdicionales">
          <input type="submit" name="guardar" value="Guardar todos los cambios" />
        </form>  
          <br>
          <b>Plataforma que encuentra a los mañositos</b>
          <br />
          <br />
          <label>En Centinela estamos comprometidos con la justicia</label>
          <br />
          <label>social del pais y el correcto funconamiento de su</label>
          <br />
          <label>sistema democratico</label>
        </div>
      </div>
    </div>
  </body>
</html>
