{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Centinela</title>
    <link rel="stylesheet" href="{% static 'app/CSS/consultas.css' %}" />
</head>
<body>
    <header>
        <div class="imagen-titulo">
          <a href="{% url 'app:index' %}">
            <img
              style="display: block; margin: auto"
              src="{% static 'app/img/titulo.jpg' %}"
              alt="centinela-titulo"
            />
          </a>
          <br />
        </div>
  
        <div class="menu">
          <nav>
            <a href="{% url 'app:index' %}">Inicio</a>
            <a href="#{% url 'app:index' %}">Quienes somos</a>
            <a href="#{% url 'app:index' %}">Servicios</a>
            <a href="{% url 'app:configuracion' %}">Configuracion</a>
            <a href="{% url 'app:registro' %}">Cerrar sesion</a>
          </nav>
          <br />
        </div>
      </header>

      <main>

        <div class="titulo-consultas">
            <h1>Consultar proceso</h1>
        </div>
        <br>
        <section class="contenedor-consultar-proceso">
            <div class="consultar-proceso">
                <h2>Consultar proceso</h2>
            </div>
            <br>
            <div class="consulta-proceso">
                <form name="consulta-de-proceso" method="post" action="#">
                    
                    <p>
                        ID del proceso:
                    </p>
                    <input type="text" />

                    <input type="submit" name="enviar" value="Buscar" />
    
                  </form>
                
            </div>
            <br>
            <div class="tabla-consulta-proceso">
                <table>

                    <tr>
                        <td>Titulo</td>
                        <td>Fecha de inicio</td>
                        <td>Abierto/Cerrado</td>
                        <td>Entidad</td>
                        <td>Monto</td>
                        <td>Comentarios del proceso</td>
                        <td>Cantidad de visitas</td>

                      </tr>
                      <td>#</td>
                      <td>#</td>
                      <td>#</td>
                      <td>#</td>
                      <td>#</td>
                      <td>#</td>
                      <td>#</td>

                    </table>
                    <br>
                    <h2>Lista de implicados</h2>
                    <br>
                    <table>

                        <tr>
                            <td>Apellidos del implicado</td>
                            <td>Nombres del implicado</td>
                            <td>Partido politico en el momento de ser implicado</td>
                            <td>Fecha de acusacion</td>
                            <td>Acusacion</td>
                            <td>Culpable/Inocente</td>
                            <td>Pena</td>
                            <td>Comentarios de la implicacion</td>
    
                          </tr>
                          <td>#</td>
                          <td>#</td>
                          <td>#</td>
                          <td>#</td>
                          <td>#</td>
                          <td>#</td>
                          <td>#</td>
                          <td>#</td>
    
                        </table>
            </div>

        </section>
        <br>
        <div class="footer">
            <div class="fondofooter">
              <b>Plataforma que encuentra a los mañositos</b>
              <br />
              <br />
              <label>En Centinela estamos comprometidos con la justicia</label>
              <br />
              <label>social del pais y el correcto funconamiento de su</label>
              <br />
              <label>sistema democratico</label>
            </div>
          </div>
        
      </main>
</body>
</html>