{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Centinela</title>
    <link rel="stylesheet" href="{% static 'app/CSS/consultas.css' %}" />
</head>
<body>
    <header>
        <div class="imagen-titulo">
          <a href="{% url 'app:index' %}">
            <img
              style="display: block; margin: auto"
              src="{% static 'app/img/titulo.jpg' %}"
              alt="centinela-titulo"
            />
          </a>
          <br />
        </div>
  
        <div class="menu">
          <nav>
            <a href="{% url 'app:index' %}">Inicio</a>
            <a href="#{% url 'app:index' %}">Quienes somos</a>
            <a href="#{% url 'app:index' %}">Servicios</a>
            <a href="{% url 'app:configuracion' %}">Configuracion</a>
            <a href="{% url 'app:registro' %}">Cerrar sesion</a>
          </nav>
          <br />
        </div>
      </header>

      <main>

        <div class="titulo-consultas">
            <h1>Consultar partido politico</h1>
        </div>
        <br>
        <section class="contenedor-consulta-partido">
 
            <div class="consulta-partido">
                <form name="consulta-de-partido" method="post" action="#">
                    
                    <p>
                        Nombre de partido politico:
                    </p>

                    <select id="items-par">
                      <option >Centro Republicano</option>
                      <option >Partido Rojo</option>
                      <option >Colombia Humanoide</option>
                      <option >Partido Vea</option>
                      <option >Partidoo Mazorca</option>
                    </select>
    
                    <input type="submit" name="enviar" value="Buscar" />
    
                  </form>

            </div>
            <br>
            <div class="tablas-consulta-partido">
                <table>

                    <tr>
                        <td>Cantidad total de procesos</td>
                        <td>#</td>


                      </tr>
                      <td>Cantidad total de procesos culpables</td>
                      <td>#</td>

                    </tr>
                    <td>Cantidad de visitas</td>
                    <td>#</td>

                    </table>
                    <br>
                    <h2>Lista de afiliados</h2>
                    <br>
                <table>

                    <tr>
                        <td>Apellidos</td>
                        <td>Nombres</td>
                        <td>Fecha de ingreso</td>
                        <td>Fecha de salida</td>
    
    
                    </tr>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
    
    
                        </table>
                    


            </div>

        </section>
        <br>
        <div class="footer">
            <div class="fondofooter">
              <b>Plataforma que encuentra a los mañositos</b>
              <br />
              <br />
              <label>En Centinela estamos comprometidos con la justicia</label>
              <br />
              <label>social del pais y el correcto funconamiento de su</label>
              <br />
              <label>sistema democratico</label>
            </div>
          </div>
        
      </main>
</body>
</html>