{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Centinela</title>
    <link rel="stylesheet" href="{% static 'app/CSS/consultas.css' %}" />
</head>
<body>
    <header>
        <div class="imagen-titulo">
          <a href="{% url 'app:index' %}">
            <img
              style="display: block; margin: auto"
              src="{% static 'app/img/titulo.jpg' %}"
              alt="centinela-titulo"
            />
          </a>
          <br />
        </div>
  
        <div class="menu">
          <nav>
            <a href="{% url 'app:index' %}">Inicio</a>
            <a href="#{% url 'app:index' %}">Quienes somos</a>
            <a href="#{% url 'app:index' %}">Servicios</a>
            <a href="{% url 'app:configuracion' %}">Configuracion</a>
            <a href="{% url 'app:registro' %}">Cerrar sesion</a>
          </nav>
          <br />
        </div>
      </header>

      <main>

        <div class="titulo-consultas">
            <h1>Consultar lista de individuos</h1>
        </div>

        <section class="contenedor-lista-individuos">
            <div class="lista-individuos">
                <h2>Consultar la lista de individuos</h2>
            </div>
            <br>
            <div class="tabla-individuos">
                <table>

                    <tr>
                        <td>Apellidos</td>
                        <td>Nombres</td>
                        <td>Ultimo partido afiliado</td>
                        <td>Cantidad total de procesos</td>
                        <td>Aprobado/No aprobado</td>

                      </tr>
                      {% for i in individuos %}
                      <td>{{ i.apellido }}</td>
                      <td>{{ i.nombre }}</td>
                     
                      <td>#</td>
                      <td>#</td>
                      <td>#</td>

                    </tr>
                    {% endfor %}
                    </table>
            </div>

        </section>
<br>
        <div class="footer">
            <div class="fondofooter">
              <b>Plataforma que encuentra a los mañositos</b>
              <br />
              <br />
              <label>En Centinela estamos comprometidos con la justicia</label>
              <br />
              <label>social del pais y el correcto funconamiento de su</label>
              <br />
              <label>sistema democratico</label>
            </div>
          </div>
        
      </main>
</body>
</html>