{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Centinela</title>
    <link rel="stylesheet" href="{% static 'app/CSS/consultas.css' %}" />
</head>
<body>
    <header>
        <div class="imagen-titulo">
          <a href="index.html">
            <img
              style="display: block; margin: auto"
              src="{% static 'app/img/titulo.jpg' %}"
              alt="centinela-titulo"
            />
          </a>
          <br />
        </div>
  
        <div class="menu">
          <nav>
            <a href="{% url 'app:index' %}">Inicio</a>
            <a href="#{% url 'app:index' %}">Quienes somos</a>
            <a href="#{% url 'app:index' %}">Servicios</a>
            <a href="{% url 'app:configuracion' %}">Configuracion</a>
            <a href="{% url 'app:registro' %}">Cerrar sesion</a>
          </nav>
          <br />
        </div>
      </header>

      <main>

        <div class="titulo-consultas">
            <h1>Consultar individuo</h1>
        </div>
        <br>
        <section class="contenedor-consulta-individuo">


            <div class="consulta-datos-individuo">
                <form name="consulta-de-individuo" method="post" action="#">
                    
                    <p>
                        Nombre de individuo:
                    </p>

                    <select id="items-indiv">
                      <option >Vargas Andres</option>
                      <option >Pedreros Juan José</option>
                      <option >Melo Camilo</option>
                      <option >Cotrino Juan Pablo</option>
                      <option >Rodriguez Felipe</option>
                    </select>
    
                    <input type="submit" name="enviar" value="Buscar" />
    
                  </form>

            </div>
            <br>
            <div class="resultados-consulta-individuo">
                <table>

                    <tr>
                        <td>Apellidos</td>
                        <td>Nombres</td>
                        <td>Fecha de nacimiento</td>
                        <td>Cantidad de visitas</td>

                      </tr>
                      <td>#</td>
                      <td>#</td>
                      <td>#</td>
                      <td>#</td>
                    
                </table>
                <br>
                <h2>Lista de afiliaciones (Aprobadas)</h2>
                <br>
                <table>

                    <tr>
                        <td>Partido politico</td>
                        <td>Fecha de ingreso</td>
                        <td>Fecha de salida</td>


                      </tr>
                      <td>#</td>
                      <td>#</td>
                      <td>#</td>
 
                    
                </table>
                <br>
                <h2>Lista de procesos (Aprobados)</h2>
                <br>
                <table>

                    <tr>
                        <td>Fecha de inicio del proceso</td>
                        <td>Fecha fin del proceso</td>
                        <td>Titulo del proceso</td>
                        <td>Entidad</td>
                        <td>Monto</td>
                        <td>Comentarios del proceso</td>
                        <td>Abrierto/Cerrado</td>
                        <td>Acusacion</td>
                        <td>Culpable/Inocente</td>
                        <td>Pena</td>
                        <td>Comentarios de la implicacion</td>


                      </tr>
                      <td>#</td>
                      <td>#</td>
                      <td>#</td>
                      <td>#</td>
                      <td>#</td>
                      <td>#</td>
                      <td>#</td>
                      <td>#</td>
                      <td>#</td>
                      <td>#</td>
                      <td>#</td>
                      
 
                    
                </table>
            </div>
        </section>
        <br>
        <div class="footer">
            <div class="fondofooter">
              <b>Plataforma que encuentra a los mañositos</b>
              <br />
              <br />
              <label>En Centinela estamos comprometidos con la justicia</label>
              <br />
              <label>social del pais y el correcto funconamiento de su</label>
              <br />
              <label>sistema democratico</label>
            </div>
          </div>
        
      </main>
</body>
</html>