{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Centinela</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static 'app/CSS/CrearIndiv.css' %}" />
  </head>
  <body>
    <div class="contenedor">
      <div class="header">
        <div class="fondo">
          <img src="{% static 'app/img/titulo.jpg' %}" alt="icono" />
        </div>
      </div>
      <div class="op">
        <div class="opt">
            <nav>
              <a href="{% url 'app:index' %}">Inicio</a>
              <a href="#{% url 'app:index' %}">Quienes somos</a>
              <a href="#{% url 'app:index' %}">Servicios</a>
              </nav>
        </div>
      </div>
      <div class="op2">
        <div class="opt2">
            <nav>
              <a href="{% url 'app:configuracion' %}">Configuracion</a>
              <a href="{% url 'app:registro' %}">Cerrar sesion</a>
              </nav>
        </div>
    </div>

      <div class="menu">
        <form action="{% url 'app:crear_individuo_post' %}"  method="POST" >
          {% csrf_token %}
            <label>CREAR INDIVIDUO</label>
            <br />
            <label >Nombre: </label>
            <input
              type="text"
              name="nombreindividuo"

              placeholder="Nombre"
              required
            />
            <br />
            <label>Apellido: </label>
            <input
              type="text"
              name="apellidoindividuo"

              placeholder="Apellido"
              required
            />
            
            <label>Fecha de nacimiento </label>
            <input
              type="date"

              name="fechaindividuo"

              placeholder="Fecha de nacimiento: "
              required
            />
            <br />
            <br>
              <input type="submit" name="guardar" value="Crear" />
        </form>
      </div>

      <div class="contenido">
        <form action="#" target="1" method="get" name="DatssosAdicionales">
          {% csrf_token %}
            <label for="correo">CREAR PROCESO</label>
            <br />
            <br>
            <label for="cnombre">Titulo: </label>
            <input
              type="text"
              name="nombre"
              id="nombre"
              placeholder="Titulo"
              required
            />
            <br />
            <br>
            <label for="cnombre">Fecha de inicio: </label>
            <input
              type="date"
              name="nombre"
              id="nombre"
              placeholder="Fecha de inicio"
              required
            />
            <br />
            <br>
            <label for="correo">Fecha finalización: </label>
            <input
              type="date"
              class="dirección"
              name="dirección"
              id="dirección"
              placeholder="Fecha finalización: "
              required
            />
            <br />
            <br>
            <label for="password">¿Proceso cerrado? </label>
            <input
              type="checkbox"
              name="telefono"
              id="telefono"
              placeholder="¿Proceso cerrado?: "
              required
              />
            <br />
            <br>
            <label for="correo">Entidad: </label>
            <input
              type="text"
              class="dirección"
              name="dirección"
              id="dirección"
              placeholder="Entidad: "
              required
            />
            <br />
            <label for="correo">Monto: </label>
            <input
              type="text"
              class="dirección"
              name="dirección"
              id="dirección"
              placeholder="Monto "
              required
            />
            <br />
            <label for="correo">Comentarios: </label>
            <input
              type="text"
              class="dirección"
              name="dirección"
              id="dirección"
              placeholder="Comentarios: "
              required
            />
            <br />
            <input type="submit" name="guardar" value="Guardar" />
          </form>
      </div>

      <div class="footer">
          
      </div>

      <div class="cuadro">    
        
        </div>
    </div>
  </body>
</html>
