{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Centinela</title>
    <link rel="stylesheet" href="{% static 'app/CSS/administrador.css' %}" />
</head>
<body>
    <header>
        <div class="imagen-titulo">
          <a href="{% url 'app:home-administrador' %}">
            <img
              style="display: block; margin: auto"
              src="{% static 'app/img/titulo.jpg' %}"
              alt="centinela-titulo"
            />
          </a>
          <br />
        </div>
  
        <div class="menu">
          <nav>
            <a href="{% url 'app:index' %}">Inicio</a>
            <a href="#{% url 'app:index' %}">Quienes somos</a>
            <a href="#{% url 'app:index' %}">Servicios</a>
            <a href="{% url 'app:configuracion' %}">Configuracion</a>
            <a href="{% url 'app:registro' %}">Cerrar sesion</a>
          </nav>
          <br />
        </div>
      </header>

      <main>

        <section class="contenedor-crear-partido">
            <div class="crear-partido">
                <h1 style="text-align: center" >Servicios de administrador</h1>
                <h2>Crear partido politico</h2>
            </div>
            <br>
            <div class="formulario-partido">
                <form action="{% url 'app:crear_partido_post' %}"  method="POST">
                  {% csrf_token %}
 
                    <p>Nombre: <input type="text" name="nombrepartido" ></p>
                    <br>
                    <p>
                      <input type="submit" name ="crear" value="Crear">

                    </p>
                  </form>
            </div>
            <br>
        </section>

        
          <br>
          <div class="footer">
            <div class="fondofooter">
              <b>Plataforma que encuentra a los mañositos</b>
              <br />
              <br />
              <label>En Centinela estamos comprometidos con la justicia</label>
              <br />
              <label>social del pais y el correcto funconamiento de su</label>
              <br />
              <label>sistema democratico</label>
            </div>
          </div>

        
      </main>
</body>
</html>