{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Centinela</title>
    <link rel="stylesheet" href="{% static 'app/CSS/estilo.css' %}" />
  </head>
  <body>
    <header>
      <div class="imagen-titulo">
        <a href="{% url 'app:registro' %}">
          <img
            style="display: block; margin: auto"
            src="{% static 'app/img/titulo.jpg' %}"
            alt="centinela-titulo"
          />
        </a>
        <br />
      </div>

    </header>
    <main>

      
      
        <div class="titulo-error">
            <h2>Datos erroneos. Por favor, vuelva a intentarlo</h2>

        </div>
        <br>

      <div class="error">
        <a href="{% url 'app:registro' %}">Volver</a>
      </div>
      <br>
      <div class="footer">
        <div class="fondofooter">
          <b>Plataforma que encuentra a los mañositos</b>
          <br />
          <br />
          <label>En Centinela estamos comprometidos con la justicia</label>
          <br />
          <label>social del pais y el correcto funconamiento de su</label>
          <br />
          <label>sistema democratico</label>
        </div>
      </div>
    </main>
  </body>
</html>
