{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Centinela</title>
    <link rel="stylesheet" href="{% static 'app/CSS/administrador.css' %}" />
</head>
<body>
    <header>
        <div class="imagen-titulo">
          <a href="{% url 'app:home-administrador' %}">
            <img
              style="display: block; margin: auto"
              src="{% static 'app/img/titulo.jpg' %}"
              alt="centinela-titulo"
            />
          </a>
          <br />
        </div>
  
        <div class="menu">
          <nav>
            <a href="{% url 'app:index' %}">Inicio</a>
            <a href="#{% url 'app:index' %}">Quienes somos</a>
            <a href="#{% url 'app:index' %}">Servicios</a>
            <a href="{% url 'app:configuracion' %}">Configuracion</a>
            <a href="{% url 'app:registro' %}">Cerrar sesion</a>
          </nav>
          <br />
        </div>
      </header>

      <main>

        

        <section class="contenedor-habilitar-deshabilitar">
          <div class="habilitar-deshabilitar">
            <h2>Habilitar/Deshabilitar ciudadano</h2>
          </div>
          <br>
          <div class="lista-ciudadano">

            <form name="formulario-ciudadano" method="post" action="#">
                    
              <p>
                  ID del ciudadano:
              </p>

              <select id="items-c">
                <option >001</option>
                <option >002</option>
                <option >003</option>
                <option >004</option>
                <option >005</option>
              </select>
              <div class="botones-ciudadano">
                <input type="submit" name="enviar" value="Habilitar" />
                <input  type="submit" name="enviar" value="Deshabilitar" />

              </div>

            </form>

          </div>
          <br>
          <div class="footer">
            <div class="fondofooter">
              <b>Plataforma que encuentra a los mañositos</b>
              <br />
              <br />
              <label>En Centinela estamos comprometidos con la justicia</label>
              <br />
              <label>social del pais y el correcto funconamiento de su</label>
              <br />
              <label>sistema democratico</label>
            </div>
          </div>

        </section>
      </main>
</body>
</html>