{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Centinela</title>
    <link rel="stylesheet" href="{% static 'app/CSS/estilo.css' %}" />
  </head>
  <body>
    <header>
      <div class="imagen-titulo">
        <a href="{% url 'app:home-administrador' %}">
          <img
            style="display: block; margin: auto"
            src="{% static 'app/img/titulo.jpg' %}"
            alt="centinela-titulo"
          />
        </a>
        <br />
      </div>
      <div class="menu">
        <nav>
          <a href="{% url 'app:index' %}">Inicio</a>
          <a href="{% url 'app:index' %}">Quienes somos</a>
          <a href="{% url 'app:index' %}">Servicios</a>
          <a href="{% url 'app:configuracion' %}">Configuracion</a>
          <a href="{% url 'app:cerrar_sesion' %}">Cerrar sesion</a>
        </nav>
        <br />
      </div>
    </header>
    <main>
      <!-- {% if request.user.is_authenticated %}
      <h3>Bienvenido {{ request.user.first_name }}</h3>
      {% else %}
      <h3>El usuario no esta autenticado</h3>
      {% endif %} -->
      
      <section class="quienes-somos">
        <a name="quienes-somos"></a>
        <h2 class="titulo-uno">¿Quienes somos?</h2>

        <div class="contenedor-quienes-somos">
          <img src="{% static 'app/img/fraude.jpg' %}" alt="fraude" />
          <h3>Consulta anticorrupcion al alcance de todos</h3>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque
            nihil voluptate recusandae placeat voluptatum quisquam corrupti est
            a velit rem. Corporis ut harum magni accusantium dolor ab ratione
            cupiditate. Officiis!
          </p>
          <h3>Promover el voto es promover el progreso</h3>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem
            eius vitae delectus accusamus odit recusandae fugit. Animi at culpa
            enim perferendis dolorum soluta eum adipisci, excepturi quidem
            cumque quia distinctio.
          </p>
        </div>
      </section>

      <section class="servicios">
        <a name="servicios"></a>
        <h2 class="titulo-dos">Servicios</h2>
        <div class="contenedor-servicios">
          <nav>
            <a href="{% url 'app:consultar-partido' %}">
              <img src="{% static 'app/img/consultadepartido.jpg' %}" alt="consulta de partido" />
            </a>
            <a href="{% url 'app:consultar-individuo' %}">
              <img
                src="{% static 'app/img/consultadeindividuo.jpg' %}"
                alt="consulta de individuo"
              />
            </a>
            <a href="{% url 'app:consultar-proceso' %}">
              <img src="{% static 'app/img/consultadeproceso.jpg' %}" alt="consulta de proceso" />
            </a>
          </nav>
          <br />
          <nav>
            <a href="{% url 'app:crear-individuo' %}">
              <img src="{% static 'app/img/crearindividuo.jpg' %}" alt="crear individuo" />
            </a>
            <a href="{% url 'app:afiliar-individuo' %}">
              <img src="{% static 'app/img/afiliarindividuo.jpg' %}" alt="afiliar individuo" />
            </a>
            <a href="{% url 'app:implicar-individuo' %}">
              <img src="{% static 'app/img/implicarafiliado.jpg' %}" alt="implicar afiliado" />
            </a>
          </nav>
        </div>
      </section>
      <br>
      <div class="footer">
        <div class="fondofooter">
          <b>Plataforma que encuentra a los mañositos</b>
          <br />
          <br />
          <label>En Centinela estamos comprometidos con la justicia</label>
          <br />
          <label>social del pais y el correcto funconamiento de su</label>
          <br />
          <label>sistema democratico</label>
        </div>
      </div>
    </main>
  </body>
</html>
