{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Centinela</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static 'app/CSS/registro.css' %}" />
  </head>
  <body>
    <div class="contenedor">
      <div class="header">
        <div class="fondo">
          <a href="{% url 'app:registro' %}">

            <img src="{% static 'app/img/titulo.jpg' %}" alt="icono" />

          </a>
        </div>
      </div>
      <div class="menu">
        <form action="{% url 'app:login_post' %}"  method="POST" >
          {% csrf_token %}
          <label for="correo">INICIAR SESIÓN</label>
          <br />
          <label for="correo">Username: </label>
          <input
            type="text"

            name="username"

            placeholder="Username"
            required
          />
          <br />
          <label for="password">Contraseña: </label>
          <input
            type="password"
            name="password"

            placeholder="Contraseña"
            required
          />
          <input type="submit" name="enviar" value="Iniciar sesión" />
        </form>
      </div>
      <div class="contenido">
        <form action="{% url 'app:form_registro_post' %}"  method="POST" >
          {% csrf_token %}
          <label>REGISTRO</label>
          <br />
          <label>Nombre: </label>
          <input
            type="text"
            name="nombre"
            placeholder="Nombre"
            required
          />
          <br />
          <label>Apellido: </label>
          <input
            type="text"
            name="apellido"
            placeholder="Apellido"
            required
          />
          <br />
          <label>Username: </label>
          <input
            type="text"
            name="username"
            placeholder="Username"
            required
          />
          <br />
          <label>Contraseña: </label>
          <input
            type="password"
            name="password"
            placeholder="Contraseña"
            required
          />
          <input type="submit" name="enviar" value="Regristrarme"/>
        </form>
      </div>
      <div class="footer">
        <div class="fondofooter">
          <b>Plataforma que encuentra a los mañositos</b>
          <br />
          <br />
          <label>En Centinela estamos comprometidos con la justicia</label>
          <br />
          <label>social del pais y el correcto funconamiento de su</label>
          <br />
          <label>sistema democratico</label>
        </div>
      </div>
    </div>
  </body>
</html>
