body {
    background-color: rgb(160, 185, 255);
  }

  .menu a {
    color: rgb(255, 255, 255);
    font-size: 35px;
    background: rgb(0, 72, 255);
    text-decoration: none;
    padding: 5px 15px;
    margin: 15px;
    border-radius: 10px;
    text-align: center;
    font-family: "Arial";
  }

  nav {
    text-align: center;
  }

  .crear-partido h2{
    color: black;
    font-size: 35px;
    font-family: "Arial";
  }

  .crear-partido{
    color: rgb(0, 72, 255);
    font-size: 35px;
    font-family: "Arial";
    font-weight: bold;
  }

  img{
    width: 300px;
    height: auto; 
  }
  
  select{
    width: 30%;
    color: black;
    padding: 10px 10px;
    border: 1px solid #f6f6f6;
    border-radius: 3px;
    background-color: #f6f6f6;
    margin: 1px 0;
    display: inline-block;
    font-size: 19px;
}

  

  form {
    width: 800px;
    height: 400px;
    padding: 40px;
    border-radius: 10px;
    margin: auto;
    background-color: rgb(0, 72, 255);

  }

 
  form input[type="text"] {
    width: 70%;
    color: black;
    padding: 10px 20px;
    border: 1px solid #f6f6f6;
    border-radius: 3px;
    background-color: #f6f6f6;
    margin: 8px 0;
    display: inline-block;
    font-size: 25px;
  }
  
.lista-individuo form{
    width: 500px;
    height: 200px;
    padding: 40px;
    border-radius: 10px;
    margin: auto;
    background-color: rgb(0, 72, 255);
}

  form input[type="submit"]{
    width: 200px;
    font-family: "Arial";
    font-size: 25px;
    padding: 10px 10px;
    margin-top: 32px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    color: black;
    background-color: white;
    display: block;
  }
  
  .formulario-partido{
      font-size: 25px;
      font-family: "Arial";
      color: white;
  }

  .aprobar-individuo{
    color: black;
    font-size: 25px;
    font-family: "Arial";
  }

  .lista-individuo form input[type="text"] {
    width: 80%;
    color: black;
    padding: 10px 20px;
    border: 1px solid #f6f6f6;
    border-radius: 3px;
    background-color: #f6f6f6;
    margin: 8px 0;
    display: inline-block;
    font-size: 25px;
  }
  .lista-individuo input[type="submit"]{
    width: 200px;
    font-family: "Arial";
    font-size: 25px;
    padding: 10px 10px;
    margin-top: 32px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    color: black;
    background-color: white;
    display: block;
  }

  .lista-individuo p{
    font-size: 25px;
    font-family: "Arial";
    color: white;
  }

  .aprobar-proceso{
    color: black;
    font-size: 25px;
    font-family: "Arial";
  }

  .lista-proceso form input[type="text"] {
    width: 80%;
    color: black;
    padding: 10px 20px;
    border: 1px solid #f6f6f6;
    border-radius: 3px;
    background-color: #f6f6f6;
    margin: 8px 0;
    display: inline-block;
    font-size: 25px;
  }

  .lista-proceso input[type="submit"]{
    width: 200px;
    font-family: "Arial";
    font-size: 25px;
    padding: 10px 10px;
    margin-top: 32px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    color: black;
    background-color: white;
    display: block;
  }
  
  .lista-proceso p{
    font-size: 25px;
    font-family: "Arial";
    color: white;
  }
  .lista-proceso form{
    width: 500px;
    height: 200px;
    padding: 40px;
    border-radius: 10px;
    margin: auto;
    background-color: rgb(0, 72, 255);
}

.aprobar-afiliacion{
  color: black;
  font-size: 25px;
  font-family: "Arial";
}

.lista-afiliacion form input[type="text"] {
  width: 80%;
  color: black;
  padding: 10px 20px;
  border: 1px solid #f6f6f6;
  border-radius: 3px;
  background-color: #f6f6f6;
  margin: 8px 0;
  display: inline-block;
  font-size: 25px;
}

.lista-afiliacion input[type="submit"]{
  width: 200px;
  font-family: "Arial";
  font-size: 25px;
  padding: 10px 10px;
  margin-top: 32px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  color: black;
  background-color: white;
  display: block;
}

.lista-afiliacion p{
  font-size: 25px;
  font-family: "Arial";
  color: white;
}

.lista-afiliacion form{
  width: 500px;
  height: 200px;
  padding: 40px;
  border-radius: 10px;
  margin: auto;
  background-color: rgb(0, 72, 255);
}

.habilitar-deshabilitar{
  color: black;
  font-size: 25px;
  font-family: "Arial";
}

.lista-ciudadano form input[type="text"] {
  width: 80%;
  color: black;
  padding: 10px 20px;
  border: 1px solid #f6f6f6;
  border-radius: 3px;
  background-color: #f6f6f6;
  margin: 8px 0;
  display: inline-block;
  font-size: 25px;
}

.lista-ciudadano input[type="submit"]{
  width: 200px;
  font-family: "Arial";
  font-size: 25px;
  padding: 10px 10px;
  margin-top: 32px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  color: black;
  background-color: white;
  display: block;
}

.lista-ciudadano p{
  font-size: 25px;
  font-family: "Arial";
  color: white;
}

.lista-ciudadano form{
  width: 500px;
  height: 300px;
  padding: 40px;
  border-radius: 10px;
  margin: auto;
  background-color: rgb(0, 72, 255);
}
.footer {
  grid-area: footer;
  display: grid;
  font-size: 19px;
  text-align: center;
}
.fondofooter {
  font-family: "Arial";
  width: auto;
  height: auto;
  background-color: rgb(160, 185, 255);
}

