/*CSS de la pagina principal de inicio de sesión*/
* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .contenedor {
    font-family: Arial;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template: 165px 60px auto 440px / 0.5fr 0.5fr;
    grid-template-areas:
      "header header"
      "op op2"
      "menu menu "
      "footer cuadro";
  }
  
  .header {
    background-color: rgb(160, 185, 255);
    grid-area: header;
    display: grid;
    font-size: 70px;
    text-align: center;
  }
  .fondo {
    width: 1fr;
    height: auto;
  }
  .titulo {
    width: center;
    height: center;
  }
  img {
    width: 300px;
    height: auto;
    width: center;
    float: center;
  }
  
  .op {
      background-color: rgb(160, 185, 255);
      grid-area: op;
      display: grid;
      font-size: 35px;
      text-align: right;
    }
    .op2 {
      background-color: rgb(160, 185, 255);
      grid-area: op2;
      display: grid;
      font-size: 35px;
      text-align: left;
    }
    .opt a {
      color: rgb(255, 255, 255);
      background: rgb(0, 72, 255);
      text-decoration: none;
      padding: 5px 15px;
      margin: 0px;
      border-radius: 10px;
      text-align: center;
      font-family: "Arial";
      
    }
    .opt2 a {
      color: rgb(255, 255, 255);
      background: rgb(0, 72, 255);
      text-decoration: none;
      padding: 5px 15px;
      margin: 1px;
      border-radius: 10px;
      text-align: center;
      font-family: "Arial";
    }
  .contenido {
    background-color: rgb(160, 185, 255);
    grid-area: contenido;
    display: grid;
    font-size: 19px;
    text-align: center;
  }
  
  .menu {
    background-color: rgb(160, 185, 255);
    grid-area: menu;
    display: grid;
    font-size: 30px;
    text-align: center;
  }
  
  
  .footer {
    background-color: rgb(160, 185, 255);
    grid-area: footer;
    display: grid;
    font-size: 19px;
    text-align: center;
  }
  
  .cuadro {
    background-color: rgb(160, 185, 255);
    grid-area: cuadro;
    display: grid;
    font-size: 19px;
    text-align: center;
  }
  
  
  .menu label{
    color: white;
  }
  
  .contenido label{
    color: white;
  }
  
  .footer label{
    color: white;
  }
  
  .cuadro label{
    color: white;
  }
  
  
  form {
    width: 900px;
    padding: 100px;
    border-radius: 10px;
    margin: auto;
    background-color: rgb(0, 72, 255);
  }
  
  form label {
    width: 400px;
    height: 10px;
    font-weight: bold;
    display: inline-block;
  }
  
  form input[type="text"],
  form input[type="password"] {
    width: 290px;
    padding: 10px 10px;
    border: 1px solid #f6f6f6;
    border-radius: 3px;
    background-color: #f6f6f6;
    margin: 8px 0;
    display: inline-block;
  }
  
  form input[type="submit"] {
    width: 100%;
    padding: 10px 10px;
    margin-top: 1px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    display: block;
    color: rgb(0, 72, 255);
    background-color: rgb(160, 185, 255);
  }
  
  form input[type="submit"]:hover {
    cursor: pointer;
  }

  select{
    width: 30%;
    color: black;
    padding: 10px 10px;
    border: 1px solid #f6f6f6;
    border-radius: 3px;
    background-color: #f6f6f6;
    margin: 1px 0;
    display: inline-block;
    font-size: 19px;
}
  