body {
    background-color: rgb(160, 185, 255);
  }
  
  .menu a {
    color: rgb(255, 255, 255);
    font-size: 35px;
    background: rgb(0, 72, 255);
    text-decoration: none;
    padding: 5px 15px;
    margin: 15px;
    border-radius: 10px;
    text-align: center;
    font-family: "Arial";
  }
  nav {
    text-align: center;
  }
  .imagen-titulo img {
    display: block;
  }
  
  .quienes-somos {
    font-family: "Arial";
    font-size: 25px;
  }
  
  .titulo-uno {
    color: rgb(0, 72, 255);
    font-size: 38px;
  }
  
  .contenedor-quienes-somos {
    float: left;
  }
  img{
    width: 300px;
    height: auto; 
  }


  .contenedor-quienes-somos img {
    width: 480px;
    height: 299px;
    float: right;
    background: black;
    padding: 5px;
  }
  .servicios {
    font-family: "Arial";
    font-size: 19px;
    
  }
  
  .titulo-dos {
    color: rgb(0, 72, 255);
    font-size: 38px;
  }

  .titulo-dos-admin {
    color: rgb(0, 72, 255);
    font-size: 38px;
  }


  .footer {
    grid-area: footer;
    display: grid;
    font-size: 19px;
    text-align: center;
  }
  .fondofooter {
    font-family: "Arial";
    width: auto;
    height: auto;
    background-color: rgb(160, 185, 255);
  }